* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --bloc-height: 43px;
}

body {
    font-family: "Jost";
}

.row { display: flex; }
.col#text { width: calc(100% / 3); }
.col#visualisation { width: calc(100% / 3 + 100% / 3); }

.col#visualisation,
.col#text {
    padding: 1rem;
}

.col#text {
    overflow-y: scroll;
    height: calc(100vh - var(--bloc-height) - 1rem);
    position: sticky;
    top: calc(var(--bloc-height) + 0rem);
}

header {
    position: sticky;
    top: 0px;
    z-index: 2;
    padding: .5rem 1rem .5rem 1rem;

    background-color: white;

    display: flex;

}

header h2 {
    margin-left: 0.6rem;
}

ul {
    list-style: none;
    margin-left: 1rem;
}

ul span {
    border: 2px solid black;
    font-size: 1.17rem;
    display: inline-flex;
    min-height: var(--bloc-height);

    align-items: center;
    padding: 0px .6rem 0px .6rem;
    margin-top: -2px;
}

:root {
    --block_place_size: 150px;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    gap: 1rem;
}
.gallery .place {
    width: var(--block_place_size);

    border: 2px solid black;
    padding: .6rem;
}
.place_visu .place_img {
    display: block;
    object-fit: contain;
    object-position: center;
    width: 100%;

    height: var(--block_place_size);
    margin-bottom: .5rem;
}

:root {
    --value: 100;
}

.place_figure { grid-area: place_figure; }
.place_diagram { grid-area: place_diagram; }
.place_data { grid-area: place_data; }

.gallery .place_visu {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "place_figure place_figure"
        "place_diagram place_data";
}

.gallery .place_visu {
    margin-bottom: .5rem;
    position: relative;
}
.gallery .place_visu .place_diagram {
    position: absolute;
    z-index: 1;
}
.gallery .place_diagram {
    background-color: aquamarine;
    mix-blend-mode: multiply;
    border-radius: 100%;
    aspect-ratio: 1/1;
    width: calc(var(--value) * 1%);
    place-self: center;
    z-index: 10;
    min-width: 3px;
}
.gallery .place_img {
    object-fit: contain;
}



/* INPUTS */

fieldset {
    margin-top: .5rem;
    border: 2px solid black;
    padding: .5rem;
}
fieldset legend {
    padding: 0 .5rem 0 .5rem;
}


/* TYPO */

h1, h2, h3, h4, h5, h6 {
    font-size: 1.17rem;
}
aside p + p {
    text-indent: calc(1rem + 2px);
}
.gallery .place_name {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}
.gallery .place_data {
    font-family: "IBMPlexMono";
    font-size: .8rem;
}
a {
    color: inherit;
    text-decoration: none;
}