<!doctype html>
<html lang="fr">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">
    <link rel="icon" href="assets/favicon.ico" type="image/x-icon">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/style.css?v16052024" rel="stylesheet">
    <link href="assets/css/img-grid.css?v06052024" rel="stylesheet">
    <title>Carto Hugo</title>
  </head>

  <body>
    <nav id="navbar" class="navbar navbar-expand-lg">
    </nav>

    <div v-cloak id="app" class="container-fluid">
      <div class="row">
        <!-- PAGES EDITORIALES -->
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasAbout" aria-labelledby="offcanvasAboutLabel">
          <div class="offcanvas-header">
            &nbsp;
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
          </div>
        </div>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasLegal" aria-labelledby="offcanvasLegalLabel">
          <div class="offcanvas-header">
            &nbsp;
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
          </div>
        </div>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasEdition" aria-labelledby="offcanvasEditionLabel">
          <div class="offcanvas-header">
            &nbsp;
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
          </div>
        </div>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasPresentation" aria-labelledby="offcanvasPresentation">
          <div class="offcanvas-header">
            &nbsp;
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
          </div>
        </div>

        <div class="col">
          <!-- GLOBAL CARD -->
          <div id="main-card" class="card mt-2">
            <!-- CARD BODY -->
            <div class="card-body">
              <div class="row">
                <!-- LIEUX -->
                <div id="col-locations" class="col-2">
                  <span id="top-locations"></span>
                  <div id="current-n-pin">
                    <div v-if="currentLocation">
                      <h5>Lieu sélectionné</h5>
                      <div class="d-flex justify-content-between">
                        <span v-if="pinnedLocations.includes(currentLocation)" @click="unpin(currentLocation)" class="toggle-pin">&cross;</span>
                        <span v-else @click="pinnedLocations.push(currentLocation)" class="toggle-pin">📌</span>
                        <span class="toggle-pin" @click="changeLocation('')">Effacer</span>
                      </div>
                      <div id="current-location">
                        {{locations[currentLocation]["value"]}}
                        <div class="d-flex justify-content-between">
                          <span class="text-muted btn" @click="rotate(false)"> < </span>
                          <span class="text-muted">{{rotationIndex + 1}} / {{countLocation(currentLocation)}} occurrence(s)</span>
                          <span class="text-muted btn" @click="rotate(true)"> > </span>
                        </div>
                      </div>
                    </div>

                    <!-- LIEUX EPINGLES -->
                    <div v-if="pinnedLocations.length > 0">
                      <h5>Lieux épinglés</h5>
                      <ul id="pinnedLocations">
                        <template v-if="loading == false" v-for="location in pinnedLocations.sort()">
                          <li class="pinned-location" @click="changeLocation(location)">
                            {{locations[location]["value"]}} [{{countLocation(location)}}]
                            <span @click="unpin(location)" class="toggle-pin">&cross;</span>
                          </li>
                        </template>
                      </ul>
                    </div>
                  </div>
                  <!-- TOUS LES LIEUX -->
                  <div>
                    <h5>Tous les lieux</h5>
                    <ul id="locations" :key="test">
                      <li>
                        <input id="search-location" placeholder="Filtrer" type="text" v-model="searchLocation">
                      </li>
                      <template v-if="loading == false" v-for="(imgs, location) in getSortedLocations()">
                        <li :class="{ currentLocation: location == currentLocation }" @click="changeLocation(location)" v-if=" getLocationName(location).toLowerCase().includes(searchLocation.toLowerCase())">
                          {{ getLocationName(location) }} [{{countLocation(location)}}]
                          <template v-if="location == currentLocation">
                            <span v-if="pinnedLocations.includes(location)" @click="unpin(location)" class="toggle-pin">&cross;</span>
                            <span v-else @click="pinnedLocations.push(location)" class="toggle-pin">📌</span>
                          </template>
                        </li>
                      </template>
                    </ul>
                  </div>
                  <a id="top-locations-link" href="#top-locations">&uarr;</a>
                </div>
                <!-- ROMAN -->
                <div id="col-roman" class="col-7">
                  <h1>Victor Hugo, Les Travailleurs de la mer</h1>
                  <div class="text-end">
                    <select v-model="issue">
                      <option value="">Version originale</option>
                      <option value="v2">Version avec addition</option>
                    </select>
                  </div>
                  <div id="roman" :class='issue'>
                  </div>
                </div>
                <!-- IMAGES -->
                <div id="col-imgs" class="col" >
                  <div class="offcanvas offcanvas-end" data-bs-backdrop="true" data-bs-scroll="true" tabindex="-1" id="offcanvas-images">
                    <div class="offcanvas-body">
                      <h5>
                        Toutes les images
                        [<input class="img-count" min="1" max="10" type="number" :size="imgsByLine.toString().length" v-model="imgsByLine"> par ligne]
                        <div v-if="currentLocation">
                          N'afficher que les images liées au lieu courant ({{ currentLocation }})<input type="checkbox" v-model="onlyCurrentLocation">
                        </div>
                      </h5>
                      <div class="grid-container" :style="'column-count:' + imgsByLine">
                        <template v-for="(value, img) in imgToLocations">
                          <div class="grid-item" v-show="onlyCurrentLocation == false || isLocationPresent(img)" :set="filename = filenameWithoutExt(img)">
                            <fieldset>
                              <legend @click="openImg(img)" class="img-name">{{ filename }}</legend>
                              <legend class="img-info" v-if="imgToDesc[img]">
                                {{ imgToDesc[img]["title"] }}
                                <span v-if="imgToDesc[img]['desc'] != '' "class="img-desc" data-bs-toggle="tooltip" data-bs-placement="top" :title="imgToDesc[img]['desc']">
                                  ?
                                </span>
                                <a v-if="imgToDesc[img]['source'] != '' " :href="imgToDesc[img]['source']" target="blank" class="img-source" :title="imgToDesc[img]['source']">
                                  source
                                </a>
                              </legend>
                              <object @load="makeClickable" class="emb carto-img " :id="img" :data-filename="img" :data="'data/auto/svg/'+img+'.svg'" width=100% type="image/svg+xml"></object>
                            </fieldset>
                          </div>
                        </template>
                      </div>
                    </div>
                  </div>

                  <h5>Images</h5>

                  <div>
                    <div class="btn-group">
                      <a class="btn btn-secondary btn-sm active" data-bs-toggle="offcanvas" href="#offcanvas-images">Afficher toutes les images</a>
                      <a href="#" class="btn btn-secondary btn-sm" @click="closeAll" v-if="Object.keys(popups).length > 0">Tout fermer</a>
                    </div>
                  </div>

                  <div id="opened-imgs" class="grid-container" :style="'column-count:' + imgsByLine">
                    <template v-for="(key, value, index) in popups">
                      <div class="grid-item">
                        <fieldset v-if="popupExists(value)">
                          <legend @click="openImg(value)" class="img-name">{{ filenameWithoutExt(value) }}</legend>
                          <object @load="makeClickable" class="emb carto-img" :id="value" :data-filename="value" :data="'data/auto/svg/'+value+'.svg'" type="image/svg+xml"></object>
                        </fieldset>
                      </div>
                    </template>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/vue@3.4.27/dist/vue.global.prod.js"></script>
    <script src="assets/js/load-navbar.js"></script>
    <script src="assets/js/lib/bootstrap.bundle.min.js"></script>
    <script src="assets/js/vue-app.js?v06052024"></script>

  </body>

</html>
