* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bloc-height: 43px;
}
body {}

.row { display: flex; }
.col#text { width: calc(100% / 3); }
.col#visualisation { width: calc(100% / 3 + 100% / 3); }

.col#visualisation,
.col#text {
    padding: 1rem;
}

header {
    position: sticky;
    top: 0px;
    z-index: 2;
    padding: .5rem 1rem .5rem 1rem;

    background-color: white;

    display: flex;
}

header h2 {
    margin-left: 0.6rem;
}

.sticky {
    position: sticky;
    top: calc(var(--bloc-height) + 1rem);
}

main img {
    border: 1px solid lightgrey;
    max-width: 100%;
    max-height: 75vh;
}
main figure {
    margin-bottom: 3rem;
}

/* TYPO */

h1, h2, h3, h4, h5, h6 {
    font-size: 1.17rem;
}
body { font-family: "Jost"; }

aside p + p {
    text-indent: calc(1rem + 2px);
}

a {
    color: inherit;
    text-decoration: none;
}