#offcanvas-images.offcanvas {
  width: 50% !important;
  border-left: 2px solid var(--border);
  background-color: white;
  background-position: 10px 10px;
  background-size: 10px 10px;
}

legend {
  color: white;
  background-color: var(--secondary);
  margin-bottom: 0;
  text-align: center;
  font-size: 85%;
}

.img-count {
  background-color: var(--border);
  border: none;
}

#offcanvas-images.offcanvas h5 {
  text-align: center;
  background-color: var(--secondary);
  padding: 8px 0px 8px 0px;
  color: white;
}

.grid-item {
  width: 100% !important;
  height: auto !important;
  margin-bottom: 15px;
  break-inside: avoid;
  page-break-inside: avoid;
  display: inline-block;
}

.grid-item object {
  border: 2px solid lightgrey;
}

.grid-container {
  column-gap: 25px;
}

@media (max-width: 1200px) {
  .grid-container {
    column-gap: 15px;
  }

  #offcanvas-images.offcanvas {
    width: 800px !important;
  }
}

@media (max-width: 1000px) {
  .grid-container {
    column-gap: 10px;
  }

  #offcanvas-images.offcanvas {
    width: 600px !important;
  }
}

@media (max-width: 800px) {
  .grid-container {
    column-gap: 5px;
  }

  #offcanvas-images.offcanvas {
    width: 400px !important;
  }
}

@media (max-width: 400px) {
  .grid-container {
    column-gap: 5px;
  }

  #offcanvas-images.offcanvas {
    width: 200px !important;
  }
}

#opened legend {
  font-size: 80%;
}

.img-info {
  padding: 3px;
  border-top: 1px dashed white;
}

.img-name {
  padding: 2px 4px;
}

.img-desc {
  background-color:white;
  color: var(--secondary);
  padding: 2px 4px;
  cursor:help;
}

.img-source {
  text-decoration: none;
  background-color:white;
  color: var(--secondary);
  padding: 2px;
  margin-left: 5px;
}