* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --grey: lightgrey;

    --unit: 1rem;
    --header_height: calc(3 * var(--unit));
}
img {
    display: block;
    width: 100%;
}



/* layout header */

header {
    display: flex;
    align-items: center;
    padding: calc(var(--unit) / 2) var(--unit) calc(var(--unit) / 2) var(--unit);
    
    position: sticky;
    z-index: 15;
    top: 0px;
}




/* layout presentation */

#presentation {
    padding: calc(1 * var(--unit));
    max-width: 40rem;
}
#presentation p {
    margin-bottom: calc(1 * var(--unit));
}



/* layout wrapper */

#wrapper ul {
    list-style: none;
}
#wrapper ul {
    display: grid;
    gap: var(--unit);
    padding: var(--unit);
    grid-template-columns: repeat(4, 1fr);
}
#wrapper li {
    border: 1px solid var(--grey);
}
#wrapper li figcaption {
    border-top: 1px solid var(--grey);
    padding: calc(.5 * var(--unit));
}
#wrapper li figure img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
}



/* TYPOGRAPHY */
h1, h2, h3, h4, h5, h6 {
    font-size: 1.17rem;
    font-weight: normal;
}
body { font-family: "Jost"; }
header a {
    text-decoration: none;
    color: inherit;
}
a {
    text-decoration: none;
    color: inherit;
}
#wrapper li {
    font-weight: 600;
    text-align: center;
}



/* COLORS / BORDER / BG */

#wrapper li:hover figcaption {
    background-color: coral;
}